<div id="<%= dom_id issue %>">
  <div>
    <strong>Subject:</strong>
    <%= issue.subject %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= issue.description %>
  </div>

  <div>
    <strong>Issue type:</strong>
    <%= issue.issue_type %>
  </div>

  <div>
    <strong>Severity:</strong>
    <%= issue.severity %>
  </div>

  <div>
    <strong>Priority:</strong>
    <%= issue.priority %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= issue.status %>
  </div>

  <div>
    <strong>User:</strong>
    <%= issue.user_id %>
  </div>

</div>
