<p style="color: green"><%= notice %></p>

<div class="taiga-show-container">
  <div class="issue-main-content">
    <div class="issue-header-show">
      <span class="issue-number-big">#<%= @issue.id %></span>
      <h1><%= @issue.subject %></h1>
    </div>

    <div class="issue-description-box">
      <h3>Description</h3>
      <div class="description-text">
        <%= @issue.description.presence || "No description provided." %>
      </div>
    </div>

    <div class="show-actions">
      <%= link_to "Edit this issue", edit_issue_path(@issue), class: "btn-edit" %>
      <%= link_to "Back to issues", issues_path, class: "btn-back" %>
      <%= button_to "Delete", @issue, method: :delete, class: "btn-delete", data: { confirm: "Are you sure?" } %>
    </div>
  </div>

  <aside class="issue-sidebar">
    <div class="sidebar-item">
      <label>STATUS</label>
      <div class="status-badge"><%= @issue.status&.name || "New" %></div>
    </div>

    <div class="sidebar-item">
      <label>TYPE</label>
      <div class="meta-value">
        <span class="dot" style="background-color: <%= @issue.issue_type&.color %>"></span>
        <%= @issue.issue_type&.name || "Bug" %>
      </div>
    </div>

    <div class="sidebar-item">
      <label>SEVERITY</label>
      <div class="meta-value">
        <span class="dot" style="background-color: <%= @issue.severity&.color %>"></span>
        <%= @issue.severity&.name || "Normal" %>
      </div>
    </div>

    <div class="sidebar-item">
      <label>PRIORITY</label>
      <div class="meta-value">
        <span class="dot" style="background-color: <%= @issue.priority&.color %>"></span>
        <%= @issue.priority&.name || "Normal" %>
      </div>
    </div>

    <div class="sidebar-item divider"></div>

    <div class="sidebar-item">
      <label>CREATED BY</label>
      <div class="user-info">
        <% if @issue.user %>
          <div class="avatar"><%= @issue.user.name.first.upcase %></div>
          <span><%= @issue.user.name %></span>
        <% else %>
          <div class="avatar">?</div>
          <span>Sin asignar</span>
        <% end %>
      </div>
    </div>

    <div class="sidebar-item">
      <label>MODIFIED</label>
      <div class="meta-value small"><%= @issue.updated_at.strftime("%d %b %Y, %H:%M") %></div>
    </div>
  </aside>
</div>